<app-reserva></app-reserva>
<!-- Aca comienza el modal -->
<div class="modal fade" id="dialogo1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- cabecera del diálogo -->
      <div class="modal-header">
        <h4 class="modal-title">Modificar</h4>
        <button type="button" class="close" data-dismiss="modal">X</button>
      </div>

      <!-- cuerpo del diálogo -->
      <div class="modal-body">
        <!-- <label>Legajo: {{eva.lu}}</label>
        <br>
        <label>Nota Final: {{notaFinal}}</label>
        <br>
        <label>Promedio: {{promedio}}</label> -->
      </div>

      <!-- pie del diálogo -->
      <div class="modal-footer">
        <!-- <button (click)="enviarEvaluacion()" type="button" class="btn btn-secondary" data-dismiss="modal">Guardar</button> -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>
