<div class="container">
    <h2 class="titulo">Alta de Usuarios</h2>
  <div class="row" class="col-md- col-md-offset-3">
    <form class="form" #notasform="ngForm" novalidate>

      <div class="form-group">
        <input type="text"  [(ngModel)]="user.apellido" placeholder="Ingrese Apellido"
        name="userLastname" #userLastname="ngModel"  class="form-control" required>
        <span *ngIf="userLastname.invalid && (userLastname.dirty || userLastname.touched)">
          <div class="alert-danger">
            campo obligatorio
          </div>
        </span>
      </div>
      <div class="form-group">
        <input type="text" name="userName" [(ngModel)]="user.nombre" placeholder="Ingrese Nombre" #userName="ngModel"
        class="form-control" required>
        <span *ngIf="userName.invalid && (userName.dirty || userName.touched)">
          <div class="alert-danger">
            campo obligatorio
          </div>
        </span>
      </div>
      <div class="form-group">
        <input type="password" name="userPass" [(ngModel)]="user.password" placeholder="Ingrese Contraseña" #userPass="ngModel"
        class="form-control" required>
        <span *ngIf="userPass.invalid && (userPass.dirty || userPass.touched)">
          <div class="alert-danger">
            campo obligatorio
          </div>
        </span>
      </div>
      <div class="form-group">
        <input type="number" name="userDni" [(ngModel)]="user.dni" placeholder="Ingrese DNI" #userDni="ngModel"
        class="form-control" required>
        <span *ngIf="userDni.invalid && (userDni.dirty || userDni.touched)">
          <div class="alert-danger">
            campo obligatorio
          </div>
        </span>
      </div>
      <div class="form-group">
        <input type="email" name="userEmail" [(ngModel)]="user.email" placeholder="Ingrese Email" #userEmail="ngModel"
        class="form-control" required>
        <span *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)">
          <div class="alert-danger">
            campo obligatorio
          </div>
        </span>
      </div>
      <div class="form-group">
        <input type="number" name="userPhone" [(ngModel)]="user.telefono" placeholder="Ingrese Telefono" #userPhone="ngModel"
        class="form-control" required>
        <span *ngIf="userPhone.invalid && (userPhone.dirty || userPhone.touched)">
          <div class="alert-danger">
            campo obligatorio
          </div>
        </span>
      </div>
      <div class="form-group">
        <input type="text" name="userUser" [(ngModel)]="user.usuario" placeholder="Ingrese Usuario" #userUser="ngModel"
        class="form-control" required>
        <span *ngIf="userUser.invalid && (userUser.dirty || userUser.touched)">
          <div class="alert-danger">
            campo obligatorio
          </div>
        </span>
      </div>
      <div class="form-group">
        <select [(ngModel)]="user.perfil" class="form-control" placeholder="Selecione Perfil" #userPerfil="ngModel" name="userPerfil">
          <option value="administrador">Administrador</option>
          <option value="administrativo">Administrativo</option>
          <option value="cliente">Cliente</option>
        </select>
        <span *ngIf="userPerfil.invalid && (userPerfil.dirty || userPerfil.touched)">
          <div class="alert-danger">
            campo obligatorio
          </div>
        </span>
      </div>

      <div class="alert-dark" *ngIf="notasform.invalid && (notasform.dirty || notasform.touched)">
        Completar datos obligatorios
      </div>
    <div *ngIf="!btnactualizar">
      <button type="button" class="btn btn-primary" (click)="saveUser()" [disabled]="!notasform.valid">Guardar</button>
    </div>
    <div *ngIf="btnactualizar">
      <button type="button" class="btn btn-primary" (click)="updateUser()" [disabled]="!notasform.valid">Actualizar</button>
    </div>

    </form>
  </div>

  <!-- Datatable-->
  <table class="table table-striped" [mfData]="users" #mf="mfDataTable" [mfRowsOnPage]="4">
    <thead>
      <tr>
        <th style="width: 10%">
          <mfDefaultSorter by="userLastname">Apellido</mfDefaultSorter>
        </th>
        <th style="width: 10%">
          <mfDefaultSorter by="userName">Nombre</mfDefaultSorter>
        </th>
        <th style="width: 10%">
          <mfDefaultSorter by="userDni">DNI</mfDefaultSorter>
        </th>
        <th style="width: 10%">
          <mfDefaultSorter by="userEmail">E-mail</mfDefaultSorter>
        </th>
        <th style="width: 10%">
          <mfDefaultSorter by="userPhone">Telefono</mfDefaultSorter>
        </th>
        <th style="width: 10%">
          <mfDefaultSorter by="userUser">Usuario</mfDefaultSorter>
        </th>
        <th style="width: 10%">
          <mfDefaultSorter by="userPerfil">Perfil</mfDefaultSorter>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{item.apellido}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.dni}}</td>
        <td>{{item.email}}</td>
        <td>{{item.telefono}}</td>
        <td>{{item.usuario}}</td>
        <td>{{item.perfil}}</td>
        <td>
          <button class="btn-info" (click)="eliminarUser(item)">Eliminar</button>
          <button class="btn-danger" (click)="elegirUser(item)">Modificar</button>
        </td>
      </tr>




    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
