<!--formulario vehiculos-->
<div class="row">
  <div class="col-sm-8 mx-auto">
    <form (ngSubmit)="onSubmit()" #vehiculoForm="ngForm">

      <div class="col">Patente</div>
      <div class="col-10 mb-2">
        <input class="form-control" name="patente" type="text" placeholder="PLZ 007"
               [(ngModel)]="vehiculo.patente" #patente="ngModel" required/>
        <div *ngIf="patente.invalid && (patente.dirty || patente.touched)" class="alert alert-danger">
          Ingrese la patente del vehiculo
        </div>
      </div>
      <div class="col">Marca</div>
      <div class="col-10 mb-2">
        <input class="form-control" name="marca" type="text" placeholder="ej: Ford"
               [(ngModel)]="vehiculo.marca" #marca="ngModel" required/>
        <div *ngIf="marca.invalid && (marca.dirty || marca.touched)" class="alert alert-danger">
          Ingrese la marca del vehiculo
        </div>
      </div>

      <div class="col">Modelo</div>
      <div class="col-10 mb-2">
        <input class="form-control" name="modelo" type="text" placeholder="ej: Falcon"
               [(ngModel)]="vehiculo.modelo" #modelo="ngModel" required/>
        <div *ngIf="modelo.invalid && (modelo.dirty || modelo.touched)" class="alert alert-danger">
          Ingrese el modelo del vehiculo
        </div>
      </div>
      <div class="col">Path Imagen</div>
      <div class="col-10 mb-2">
        <input class="form-control" name="imagen" type="text" placeholder="ej: Falcon"
               [(ngModel)]="vehiculo.pathimagen" #imagen="ngModel" required/>
        <div *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)" class="alert alert-danger">
          Ingrese la ruta de imagen
        </div>
      </div>

      <div class="col">Disponible</div>
      <div class="col-10 mb-2">
        <input class="form-control" name="disponible" type="checkbox"
               [(ngModel)]="vehiculo.disponible"/>
      </div>
      <div class="row" *ngIf="!btnactualizar">
        <button type="submit" class="btn btn-primary"
                [disabled]="!vehiculoForm.form.valid"
                (click)="saveVehiculo()">Guardar
        </button>
      </div>
      <div class="row" *ngIf="btnactualizar">
        <button class="btn btn-primary"
                [disabled]="!vehiculoForm.form.valid"
                (click)="updateVehiculo()">Actualizar
        </button>
      </div>
    </form>
  </div>
</div>
<!--Tabla de Vehiculos-->
<div class="row">
  <div class="col-12">
    <div class="col-md-8 mx-auto mt-2">
      <table class="table table-striped text-center" [mfData]="vehiculos" #mf="mfDataTable" [mfRowsOnPage]="4">
        <thead>
        <tr>
          <th style="width: 10%">
            <mfDefaultSorter by="patente">Patente</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="marca">Marca</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="modelo">Modelo</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="disponible">Disponible</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of mf.data">
          <td>{{item.patente}}</td>
          <td>{{item.marca}}</td>
          <td>{{item.modelo}}</td>
          <td>{{item.disponible}}</td>
          <td>
            <button class="btn" data-target="#exampleModal" data-toggle="modal"
                    (click)="elegirVehiculo(item)">Modificar
            </button>
            <button class="btn"
                    (click)="eliminarVehiculo(item)">Eliminar
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
